navbar {

  display: block;
  background: transparent;

  .navbar {
    border-bottom: 1px solid #c5aac3;
  }

  fullstack-logo {
    padding-top: 0px;
    margin-right: 20px;
    width: 50px;
    float: left;
    display: inline-block;
  }
  .navbar-header > span{
    color: #333;
    line-height: 50px;
    font-size: 32px;
    font-weight: 300;
    float: left;
    display: inline-block;
    margin: 0 20px 0 -10px;
  }

  a {
    color: #333;
    text-transform: uppercase;
    &:hover {
      color: white;
    }
  }

  #menu-button {
    &:hover {
      background: #b09bc5 !important;
    }
  }
  .nav > li > a {
    cursor: pointer;
    font-size: 17px;
    &.active {
      color: #3b3b3b;
    }
    &:hover {
      background: #9d87a6;
      transition: color 0.2s;
    }
    &:focus {
      color: #bcff5b;
      background: transparent;
    }
  }

  #signup {
    float: right;
    font-size: 17px;
  }
  .login-button {
    //float: right;
    margin-top: -5px;
    font-size: 17px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: #333;
    }
    a {
      color: #9d87a6;
      cursor: pointer;
    }
  }

}